/******************* HEADER QUERIES *******************/
@media (max-width: 1024px) {
  nav > ul > .list__item {
    display: none;
  }
}

/******************* FOOTER QUERIES *******************/

@media (max-width: 1024px) {
  article > .article__forum-container > .forum__text {
    display: none;
  }
  article > .article__forum-container,
  .article__news-container {
    justify-content: center;
  }

  article > .article__news-container > .article__text {
    display: none;
  }
}

/******************* FOOTER QUERIES *******************/
/* @media (max-width: 1024px) {
  footer > .footer__items > .footer__item-branch {
    display: none;
  }
} */
