main {
  background-color: var(--hover-color);
  height: 100%;

  .forum {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
  }

  h2 {
    font-size: 2.5rem;
    font-family: "BodoniModa";
    font-style: italic;
    font-weight: 800;
  }
}
