main {
  background-color: var(--hover-color);
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
    background-color: transparent;
    color: var(--text-color);
    height: 100%;
    max-height: 320px;
    width: 100%;
    min-width: 100px;
    /* max-width: 520px; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0 10px;
  }

  .card p {
    cursor: pointer;
    height: 100%;
    flex: 1;
    overflow: hidden;
    border-radius: 2px;
    transition: all 0.5s;
    border: 1px solid skyblue;
    background-color: transparent;
    border: 1px solid var(--bg2-color);
    box-shadow: -5px -5px 10px 0px rgba(0, 119, 192, 0.5),
      5px 5px 10px 0px rgba(29, 36, 43, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card p span {
    min-width: 20em;
    transform: rotate(-90deg);
    text-align: center;
    transition: all 0.5s;
  }

  .card p:hover {
    flex: 6;
  }

  .card p:hover span {
    transform: rotate(0deg);
  }
}
