header {
  width: 100%;
  height: 100%;
  position: relative;

  .header__title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100%;
    background-color: var(--bg2-color);
    position: relative;
  }

  h2 {
    font-size: 3rem;
    font-family: "BodoniModa";
    font-weight: 900;
    font-style: italic;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
  }

  .header__title-item {
    position: absolute;
    right: 0;
    margin-right: 10px;
  }

  .header__title-item > a > img {
    position: relative;
    width: 3rem;
    height: 100%;
    align-content: center;
  }
}

@media (max-width: 1024px) {
  .header__title-item {
    display: none;
  }
}

.nav {
  width: 100%;
  min-width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  /* border-right: 1px solid var(--hover-color); */

  ul {
    width: 100%;
    height: 100vh;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }

  li {
    width: 100%;
    height: 4rem;
    padding: 0;
    font-size: 1.3rem;
    cursor: pointer;
    position: relative;
  }

  li a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    align-content: center;
    align-items: center;
    transition: 0.3s;
    padding-left: 20px;
  }

  /* li a:hover,
  li a:active,
  li a:focus {
    background-color: var(--hover-color);
    transform: translateX(15px);
  } */

  li img {
    width: 1.3rem;
    margin-right: 10px;
  }
}

@media (max-width: 1024px) {
  nav {
    display: none;
  }
}
