header {
  position: relative;
  height: 100%;

  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto";
    font-weight: 900;
    font-size: 4em;
    border-bottom: 1px solid var(--bg2-color);
    z-index: 10;
    letter-spacing: 1em;
    width: 100%;
    min-width: 30%;

    span {
      font-family: "Arizonia";
      font-style: italic;
      text-transform: uppercase;
      position: absolute;
      filter: blur(2px);
      letter-spacing: 2rem;
      font-size: 1.5em;
    }
  }

  nav {
    margin-top: 1rem;

    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1px;
    }

    .list__item {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 8em;
      min-width: 2em;
      height: 3em;
      min-height: 1em;
      font-size: 1.3rem;
    }

    .dropDown {
      position: relative;
    }

    .dropDown__btn {
      background-color: var(--hover-color);
      color: var(--secondary-color);
      cursor: pointer;
      font-size: 1.3rem;
      position: relative;
      width: 8em;
      height: 3em;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border: none;
      transition: 0.5s ease;
    }

    .dropDown__content {
      display: none;
      position: absolute;
      left: 0;
      width: 100%;
      background: rgba(155, 57, 34, 0.9);
      min-width: 100px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      transition: 0.5s ease;
    }

    .dropDown__link {
      padding: 12px 16px;
      display: block;
      font-size: 1rem;
      transition: width 0.5s ease;
    }

    .dropDown__link span {
      color: var(--text-color);
      transition: 0.5s ease;
      display: block;
      font-size: 0.9rem;
    }

    .dropDown__link span:hover {
      transform: translateX(10px);
    }

    .dropDown:hover .dropDown__content {
      display: block;
      color: var(--text-color);
    }

    .dropDown:hover .dropDown__btn {
      background: var(--background-color);
      color: var(--text-color);
    }
  }
}
