header {
  width: 100%;
  height: 100%;
  position: relative;

  ul {
    border: 1px solid red;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  h2 {
    font-size: 5rem;
    font-family: "BodoniModa";
    font-weight: 900;
    font-style: italic;
    color: var(--bg2-color);
    text-align: center;
    flex-grow: 1;
    width: 100%;
  }
}
