header {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: var(--hover-color);
  border-top-left-radius: 15px;
  /* border-bottom-left-radius: 15px; */

  h2 {
    font-size: 5rem;
    font-family: "BodoniModa";
    font-weight: 900;
    font-style: italic;
    color: var(--bg2-color);
    text-align: center;
    flex-grow: 1;
    width: 100%;
    margin-bottom: 1rem;
  }

  p:nth-of-type(1) {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5em;
    font-size: 1.2rem;
  }

  p:nth-of-type(2) {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.9rem;
    margin-bottom: 1em;
  }
}
