header {
  width: 100%;
  height: 100%;
  position: relative;

  .header__title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100%;
    background-color: var(--bg2-color);
    position: relative;
  }

  h2 {
    font-size: 3rem;
    font-family: "BodoniModa";
    font-weight: 900;
    font-style: italic;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
  }

  .header__title-item {
    position: absolute;
    right: 0;
    margin-right: 10px;
  }

  .header__title-item > a > img {
    position: relative;
    width: 3rem;
    height: 100%;
    align-content: center;
  }
}

@media (max-width: 1024px) {
  .header__title-item {
    display: none;
  }
}
