header {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto";
    font-weight: 900;
    font-size: 4em;
    letter-spacing: 1em;
    width: 100%;
    min-width: 30%;

    span {
      font-family: "Arizonia";
      font-style: italic;
      text-transform: uppercase;
      position: absolute;
      filter: blur(2px);
      letter-spacing: 2rem;
      font-size: 1.5em;
    }
  }

  nav {
    position: relative;
    /* width: 100%; */
    z-index: 9999;
    margin-top: 1rem;

    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 20px;
    }

    .nav-link:hover {
      background: var(--secondary-color);
      box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
    }

    .list__item {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 8em;
      min-width: 2em;
      height: 3em;
      min-height: 1em;
      font-size: 1.3rem;
    }

    .dropDown {
      position: relative;
    }

    .dropDown__btn,
    .nav-link {
      cursor: pointer;
      position: relative;
      width: 10em;
      height: 3em;
      transition: 0.5s ease;
      background-color: transparent;
      padding: 0.7em 1.7em;
      font-size: 18px;
      border-radius: 0.5em;
      background: #e8e8e8;
      cursor: pointer;
      border: 1px solid #e8e8e8;
      transition: all 0.3s;
      box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
      text-align: center;
    }

    .dropDown__content {
      display: none;
      position: absolute;
      left: 0;
      width: 100%;
      min-width: 100px;
      transition: 0.5s ease;
    }

    .dropDown__link {
      padding: 12px 16px;
      display: block;
      font-size: 1rem;
      transition: width 0.5s ease;
    }

    .dropDown__link span {
      transition: 0.5s ease;
      display: block;
      font-size: 0.9rem;
    }

    .dropDown__link span:hover {
      transform: translateX(10px);
    }

    .dropDown:hover .dropDown__content {
      display: block;
      border-radius: 10px;
      background: var(--secondary-color);
    }

    .dropDown:hover .dropDown__btn {
      background: var(--background-color);
      color: var(--text-color);
    }
  }
}
