main {
  margin-top: 2em;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  perspective: 1000px;

  .main__flip-card {
    width: clamp(300px, 100%, 800px);
    height: 60vh;
  }

  .main__flip-title {
    font-size: 1.5rem;
    font-weight: 900;
    text-align: center;
  }

  .main__flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .main__flip-card:hover .main__flip-card-inner {
    transform: rotateY(180deg);
  }

  .main__flip-card-front,
  .main__flip-card-back {
    box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    --webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1rem;
  }

  .main__flip-card-front {
    background-color: transparent;
    color: var(--text-color);
  }

  .main__flip-card-back {
    background-color: rgba(214, 230, 242, 0.3); /* secondary color */
    color: var(--text-color);
    transform: rotateY(180deg);
  }

  .main__flip-title-text-front {
    font-size: clamp(3rem, 5vw, 7rem);
    font-family: "Arizonia";
    filter: drop-shadow(0 0 1rem var(--hover-color));
    letter-spacing: 1rem;
  }

  .main__flip-title-text-back {
    text-align: center;
    font-weight: normal;
    font-size: 1rem;
    position: relative;
    filter: blur(0);
  }

  .horizontal-right {
    position: absolute;
    top: 12px;
    left: 0;
    width: 25%;
  }

  .horizontal-left {
    position: absolute;
    top: 12px;
    right: 0;
    width: 25%;
  }

  .main__flip-title-text-back p:last-child,
  .main__flip-title-text-back p:first-child {
    width: clamp(300px, 100%, 400px);
    margin: 2rem auto;
    font-size: clamp(0.5rem, 0.75rem, 1rem);
  }
}

/******************* article *******************/

article {
  height: auto;
  margin-top: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5em;
  margin-bottom: 5em;

  .article__forum-container,
  .article__news-container {
    display: flex;
    flex-wrap: wrap;
    width: min(80%, 800px);
    height: 20vh;
    position: relative;
  }

  .forum__text,
  .article__text {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    flex-direction: column;
    gap: 10px;
    white-space: nowrap;
  }

  .forum__text span,
  .article__text span {
    margin-left: 1rem;
    font-weight: 800;
  }

  .forum__item-card {
    width: 200px;
    height: 120px;
    padding: 0 0.3rem;
    background: rgba(230, 230, 230, 0.1);
    border-radius: 8px;
    backdrop-filter: blur(5px);
    border-bottom: 3px solid var(--secondary-color);
    border-left: 2px rgba(255, 255, 255, 0.545) outset;
    box-shadow: -40px 50px 30px rgba(0, 0, 0, 0.28);
    transform: skewX(10deg);
    transition: 0.4s;
    overflow: hidden;
    color: var(--text-color);
  }

  .forum__item-card:hover,
  .article__item-card:hover {
    height: 160px;
    transform: skew(0deg);
  }

  .forum__item-card-align,
  .article__item-card-align {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-self: flex-start;
  }

  .red {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ff605c;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.28);
  }

  .yellow {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ffbd44;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.28);
  }

  .green {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #00ca4e;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.28);
  }

  .forum__item-card h2,
  .article__item-card h2 {
    text-align: center;
    margin: 1.3rem;
    color: var(--text-color);
    text-shadow: 10px 5px 10px rgba(0, 0, 0, 0.573);
  }

  .forum__item-card-btn,
  .article__item-card-btn {
    position: absolute;
    left: 0;
    cursor: pointer;
    width: 100%;
    height: 40px;
    font-size: 1.1rem;
    /* border: none; */
    background-color: transparent;
    /* box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.28); */
    border-radius: 8px;
    transition: 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .forum__item-card-btn:hover,
  .article__item-card-btn:hover {
    letter-spacing: 1.5px;
    background-color: var(--secondary-color);
  }

  .article__item-card {
    width: 200px;
    height: 120px;
    padding: 0 0.3rem;
    background: rgba(230, 230, 230, 0.1);
    border-radius: 8px;
    backdrop-filter: blur(5px);
    border-bottom: 3px solid var(--secondary-color);
    border-left: 2px rgba(255, 255, 255, 0.545) outset;
    box-shadow: 40px 50px 30px rgba(0, 0, 0, 0.28);
    transform: skewX(-10deg);
    transition: 0.4s;
    overflow: hidden;
    color: var(--text-color);
  }

  .blue {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #0544f1;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.28);
  }

  .violet {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #b303f8;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.28);
  }

  .orange {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #e98503;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.28);
  }
}

/******************* ASIDE *******************/

aside {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .aside__title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .aside__title > h2 {
    font-size: 4.5rem;
    padding: 5px 10px;
    font-family: "Arizonia";
  }

  .aside__post {
    border: 1px solid red;
    height: 50vh;
    width: 90%;
    min-width: 300px;
    position: relative;
  }

  .aside__post-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .aside__post-wrapper-item {
    width: 150px;
    height: 100%;
    border: 1px solid blue;
  }
}
