main {
  margin-top: 2em;
  height: auto;
  display: flex;
  justify-content: center;
  perspective: 1000px;

  .main__flip-card {
    width: min(95%, 800px);
    height: 60vh;
  }

  .main__flip-title {
    font-size: 1.5rem;
    font-weight: 900;
    text-align: center;
  }

  .main__flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .main__flip-card:hover .main__flip-card-inner {
    transform: rotateY(180deg);
  }

  .main__flip-card-front,
  .main__flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    --webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1rem;
  }

  .main__flip-card-front {
    /* background: linear-gradient(
      120deg,
      bisque 60%,
      rgb(255, 231, 222) 88%,
      rgb(255, 211, 195) 40%,
      rgba(255, 127, 80, 0.603) 48%
    ); */
    background-color: var(--third-color);
    color: var(--text-color);
  }

  .main__flip-card-back {
    /* background: linear-gradient(
      120deg,
      rgb(255, 174, 145) 30%,
      coral 88%,
      bisque 40%,
      rgb(255, 185, 160) 78%
    ); */
    background-color: var(--secondary-color);
    color: var(--text-color);
    transform: rotateY(180deg);
  }

  .main__flip-title-text-front {
    font-size: clamp(4rem, 5vw, 7rem);
    font-family: "Arizonia";
    filter: drop-shadow(0 0 1rem var(--hover-color));
    letter-spacing: 1rem;
  }

  .main__flip-title-text-back {
    text-align: center;
  }
}
