main {
  width: 100%;
  height: auto;

  .main__container {
    border: 1px solid red;
    width: 100%;
    height: 100vh;
  }

  .main__title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--hover-color);

    h2 {
      font-size: 8rem;
      font-family: "Arizonia";
    }
  }

  .main__title-texts {
    text-align: center;
  }

  .main_title > .main__title-texts:first-child {
    color: var(--secondary-color);
  }
}
