main {
  width: 100%;
  height: 80vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .main__card-3d {
    position: relative;
    width: min(400px, 90vw);
    height: min(200px, 45vw);
    max-height: 100dvh;
    transform-style: preserve-3d;
    transform: perspective(800px);
    animation: autoRun3d 35s linear infinite;
    will-change: transform;

    .main__card-3d-link {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: end;

      & a {
        width: 100%;
        height: min(30px, 10vw);
        font-size: clamp(0.5rem, 4vw, 0.8rem);
        text-align: center;
        align-content: center;
        box-shadow: inset 0 0 0 0
          color-mix(in srgb, var(--hover-color), transparent 10%);
        transition: all 0.3s ease;
        cursor: pointer;
        opacity: 0;
      }
    }

    .main__card-3d-link:hover a {
      opacity: 1;
      color: white;
      box-shadow: inset 300px 0 0 0
        color-mix(in srgb, var(--hover-color), transparent 10%);
    }
  }

  --card-width: min(200px, 22.5vw);
  --card-height: min(300px, 45vw);
  --translate-z: min(350px, 50vw);

  .main__card-3d div {
    position: absolute;
    width: var(--card-width);
    height: var(--card-height);
    border: 1px solid var(--hover-color);
    border-radius: 0.5rem;
    top: 50%;
    left: 50%;
    transform-origin: center center;
    animation: animateBrightness 20s linear infinite;
    transition: 600ms;
    will-change: transform, filter;
  }

  /* card 3d Image-bg */
  .main__card-3d div > img {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .main__card-3d:hover {
    animation-play-state: paused !important;
  }

  .main__card-3d:hover div {
    animation-play-state: paused !important;
  }

  .main__card-3d div:nth-child(1) {
    transform: translate(-50%, -50%) rotateY(0deg)
      translateZ(var(--translate-z));
    animation-delay: -0s;
  }
  .main__card-3d div:nth-child(2) {
    transform: translate(-50%, -50%) rotateY(36deg)
      translateZ(var(--translate-z));
    animation-delay: -4s;
  }
  .main__card-3d div:nth-child(3) {
    transform: translate(-50%, -50%) rotateY(72deg)
      translateZ(var(--translate-z));
    animation-delay: -8s;
  }
  .main__card-3d div:nth-child(4) {
    transform: translate(-50%, -50%) rotateY(108deg)
      translateZ(var(--translate-z));
    animation-delay: -12s;
  }
  .main__card-3d div:nth-child(5) {
    transform: translate(-50%, -50%) rotateY(144deg)
      translateZ(var(--translate-z));
    animation-delay: -16s;
  }
  .main__card-3d div:nth-child(6) {
    transform: translate(-50%, -50%) rotateY(180deg)
      translateZ(var(--translate-z));
    animation-delay: -20s;
  }
  .main__card-3d div:nth-child(7) {
    transform: translate(-50%, -50%) rotateY(216deg)
      translateZ(var(--translate-z));
    animation-delay: -24s;
  }
  .main__card-3d div:nth-child(8) {
    transform: translate(-50%, -50%) rotateY(252deg)
      translateZ(var(--translate-z));
    animation-delay: -28s;
  }
  .main__card-3d div:nth-child(9) {
    transform: translate(-50%, -50%) rotateY(288deg)
      translateZ(var(--translate-z));
    animation-delay: -32s;
  }
  .main__card-3d div:nth-child(10) {
    transform: translate(-50%, -50%) rotateY(324deg)
      translateZ(var(--translate-z));
    animation-delay: -36s;
  }
}

@keyframes autoRun3d {
  from {
    transform: perspective(800px) rotateY(-360deg);
  }
  to {
    transform: perspective(800px) rotateY(0deg);
  }
}

@keyframes animateBrightness {
  10% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(0.1);
  }
  90% {
    filter: brightness(1);
  }
}

/******************* article *******************/

article {
  height: auto;
  margin-top: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5em;
  margin-bottom: 5em;

  .article__forum-container,
  .article__news-container {
    display: flex;
    flex-wrap: wrap;
    width: min(80%, 800px);
    height: 20vh;
    position: relative;
  }

  .forum__text,
  .article__text {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    flex-direction: column;
    gap: 10px;
    white-space: nowrap;
  }

  .forum__text span,
  .article__text span {
    margin-left: 1rem;
    font-weight: 800;
  }

  .forum__item-card {
    width: 200px;
    height: 120px;
    padding: 0 0.3rem;
    background: rgba(230, 230, 230, 0.1);
    border-radius: 8px;
    backdrop-filter: blur(5px);
    border-bottom: 3px solid var(--secondary-color);
    border-left: 2px rgba(255, 255, 255, 0.545) outset;
    box-shadow: -40px 50px 30px rgba(0, 0, 0, 0.28);
    transform: skewX(10deg);
    transition: 0.4s;
    overflow: hidden;
    color: var(--text-color);
  }

  .forum__item-card:hover,
  .article__item-card:hover {
    height: 160px;
    transform: skew(0deg);
  }

  .forum__item-card-align,
  .article__item-card-align {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-self: flex-start;
  }

  .red {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ff605c;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.28);
  }

  .yellow {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ffbd44;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.28);
  }

  .green {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #00ca4e;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.28);
  }

  .forum__item-card h2,
  .article__item-card h2 {
    text-align: center;
    margin: 1.3rem;
    color: var(--text-color);
    text-shadow: 10px 5px 10px rgba(0, 0, 0, 0.573);
  }

  .forum__item-card-btn,
  .article__item-card-btn {
    position: absolute;
    left: 0;
    cursor: pointer;
    width: 100%;
    height: 40px;
    font-size: 1.1rem;
    /* border: none; */
    background-color: transparent;
    /* box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.28); */
    border-radius: 8px;
    transition: 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .forum__item-card-btn:hover,
  .article__item-card-btn:hover {
    letter-spacing: 1.5px;
    background-color: var(--secondary-color);
  }

  .article__item-card {
    width: 200px;
    height: 120px;
    padding: 0 0.3rem;
    background: rgba(230, 230, 230, 0.1);
    border-radius: 8px;
    backdrop-filter: blur(5px);
    border-bottom: 3px solid var(--secondary-color);
    border-left: 2px rgba(255, 255, 255, 0.545) outset;
    box-shadow: 40px 50px 30px rgba(0, 0, 0, 0.28);
    transform: skewX(-10deg);
    transition: 0.4s;
    overflow: hidden;
    color: var(--text-color);
  }

  .blue {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #0544f1;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.28);
  }

  .violet {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #b303f8;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.28);
  }

  .orange {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #e98503;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.28);
  }
}

/******************* ASIDE *******************/

aside {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* ASIDE TITLE */
  .aside__title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .aside__title > h2 {
    font-size: 4.5rem;
    padding: 5px 10px;
    font-family: "Arizonia";
  }

  /* ASIDE POST */
  .aside__post {
    height: 100%;
    width: 90%;
    min-width: 300px;
    position: relative;
    margin-top: 3em;
  }

  .aside__wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 40vh;
    width: 100%;
    margin-bottom: 2em;
  }

  .aside__wrapper-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 250px;
    height: 100%;
    text-align: center;
    border-radius: 10px;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
    transition: box-shadow 0.3s ease-in-out;
    background: transparent;
  }

  .aside__wrapper .aside__wrapper-item {
    transition: 0.4s ease-in-out;
  }

  .aside__wrapper-item:hover {
    transform: scale(1.1);
    box-shadow: 0px 15px 30px rgba(80, 80, 80, 0.3);
  }

  .aside__wrapper:hover > .aside__wrapper-item:not(:hover) {
    filter: blur(2px);
    transform: scale(0.9);
  }

  .aside__wrapper-item-info {
    position: absolute;
    bottom: 1em;
    width: 100%;
    text-align: center;
  }

  .aside__wrapper-item-img {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: transform 0.3s ease-in-out;
    z-index: -2; /* temporary to see the detail upfront */
    opacity: 1;
  }

  .aside__wrapper-item-img > img {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
  }

  .aside__wrapper-link {
    position: absolute;
    bottom: -1em;
    display: flex;
    justify-content: space-around;
    width: 100%;
    transform: translateY(-6em);
    z-index: 3;
  }

  .aside__wrapper-link li {
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease-in;
    position: relative;
    box-shadow: inset 0 0 0 0 var(--hover-color);
    border: 1px solid var(--hover-color);
  }

  .aside__wrapper-link-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    font-size: 0.9rem;
    letter-spacing: 1.1px;
    transition: transfrom 0.6ss ease;
    transition-delay: 0.2s;
    opacity: 0;
    overflow: hidden;
    font-weight: 900;
  }

  /* LINK ICONS */
  .aside__wrapper-link li img {
    width: 30px;
    height: 30px;
    fill: white;
    transition: 0.5s ease;
  }

  .aside__wrapper-item-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4em;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: inset 0 0 0 0 var(--hover-color);
  }

  .aside__wrapper-item-info > p {
    font-size: 1.5rem;
    height: 100%;
    align-content: center;
    transition: 0.7s ease;
  }

  .aside__wrapper-link-text:hover {
    transform: translateY(-20px);
    opacity: 1;
    z-index: 1;
  }

  .aside__wrapper-link li:hover,
  .aside__wrapper-link li:hover.aside__wrapper-link-text {
    box-shadow: inset 0 -100px 0 0 var(--hover-color);
  }

  .aside__wrapper-item-info p:hover {
    color: white;
    box-shadow: inset 300px 0 0 0 var(--hover-color);
  }
}
