.grid_container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 10% 1fr 1fr 1fr 8%;
  height: 100vh;
  grid-template-areas:
    "header header header header header"
    "nav content content content content"
    "nav content content content content"
    "nav content content content content"
    "footer footer footer footer footer";
}

.grid-item {
  /* border: 1px solid red; */
}

.header {
  grid-area: header;
  /* grid-column: span 5 / span 5; */
}

.nav {
  grid-area: nav;
  /* grid-row: span 3 / span 3;
  grid-row-start: 2; */
}

.content {
  grid-area: content;
  /* grid-column: span 4 / span 4;
  grid-row: span 3 / span 3;
  grid-row-start: 2; */
}

.footer {
  grid-area: footer;
  /* grid-column: span 5 / span 5;
  grid-row-start: 5; */
}

@media (max-width: 1024px) {
  .grid_container {
    grid-template-areas:
      "header header header header header"
      "content content content content content"
      "content content content content content"
      "content content content content content"
      "footer footer footer footer footer";
  }
}
