.grid_container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  /* gap: 1px; */
  height: 100vh;
  width: 100%;
  max-width: 3440px;
  min-width: 300px;
}

.nav {
  grid-row: span 5 / span 5;
}

.header {
  grid-column: span 4 / span 4;
}

.content {
  grid-column: span 4 / span 4;
  grid-row: span 3 / span 3;
  grid-column-start: 2;
  grid-row-start: 2;
}

.footer {
  grid-column: span 4 / span 4;
  grid-column-start: 2;
  grid-row-start: 5;
}
