.grid_container {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  /* grid-template-rows: 1fr 1fr 1fr 1fr 10%; */
  grid-template-rows: auto;
  grid-template-areas:
    "header header header header header"
    "content content content content content"
    "content content content content content"
    "content content content content content"
    "footer footer footer footer footer";
  gap: 8px;
}

.grid_item {
  /* border: 1px solid red; */
}

.header {
  grid-area: header;
  height: auto;
}

.content {
  grid-area: content;
}

.footer {
  grid-area: footer;
}
