nav {
  width: 100%;
  max-width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: fixed;
  background-color: rgba(0, 119, 192, 0.5);

  h1 {
    font-family: "BodoniModa";
    font-size: 3rem;
  }

  ul {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  li {
    height: 4rem;
    padding: 0;
    font-size: 1.3rem;
    cursor: pointer;
  }

  li a {
    display: block;
    width: 100%;
    height: 100%;
    align-content: center;
    align-items: center;
    padding: 0 50px;
    transition: 0.3s;
  }

  li a:hover,
  li a:focus {
    background-color: var(--hover-color);
    transform: translateX(15px);
    width: 95%;
  }

  li:last-child {
    margin-top: auto;
  }

  li img {
    width: 1.3rem;
    margin-right: 10px;
  }
}
