nav {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color);

  h1 {
    font-family: "BodoniModa";
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1.5em;
  }

  ul {
    height: 100vh;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    gap: 10px;
  }

  li {
    height: 4rem;
    padding: 0;
    font-size: 1.3rem;
    cursor: pointer;
  }

  li a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    align-content: center;
    align-items: center;
    padding: 0 50px;
    transition: 0.3s;
  }

  li a:hover,
  li a:focus {
    background-color: var(--hover-color);
    transform: translateX(25px);
  }

  li:last-child {
    margin-top: auto;
  }

  li img {
    width: 1.3rem;
    margin-right: 10px;
  }
}
