nav {
  width: 100%;
  max-width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;
  border: 1px solid brown;

  h1 {
    font-family: "BodoniModa";
    font-size: 3rem;
  }

  ul {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  li {
    height: 4rem;
    padding: 0;
    font-size: 1.3rem;
    cursor: pointer;
  }

  li a {
    display: block;
    width: 100%;
    height: 100%;
    align-content: center;
    align-items: center;
    padding: 0 50px;
    transition: 0.3s;
  }

  li a:hover,
  li a:focus {
    background-color: var(--hover-color);
    outline: 1px solid var(--task-color);
    --r: 30px; /* control the radius */

    line-height: 1.7; /*control the height */
    padding-inline: 0.5em;
    border-block: var(--r) solid var(--hover-color);
    border-radius: var(--r) 0 0 var(--r) / calc(2 * var(--r));
    mask: radial-gradient(var(--r) at 0 var(--r), #0000 98%, #000 101%) 100%
        calc(-1 * var(--r)) / var(--r) 100% repeat-y,
      conic-gradient(#000 0 0) padding-box;
    background: var(--hover-color) border-box; /* border-box is needed for a gradient coloration */
    width: 100%;
  }

  li:last-child {
    margin-top: auto;
  }

  li img {
    width: 1.3rem;
    margin-right: 10px;
  }
}
