nav {
  width: 100%;
  min-width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  h1 {
    font-family: "BodoniModa";
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1.5em;
  }

  ul {
    width: 100%;
    height: 100vh;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    /* position: fixed;
    top: 0;
    left: 0; */
    gap: 10px;
  }

  li {
    width: 100%;
    height: 4rem;
    padding: 0;
    font-size: 1.3rem;
    cursor: pointer;
    position: relative;
  }

  li a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    align-content: center;
    align-items: center;
    transition: 0.3s;
    padding-left: 20px;
  }

  li a:hover,
  li a:focus {
    background-color: var(--hover-color);
    transform: translateX(15px);
    z-index: -100;
  }

  li:last-child {
    margin-top: auto;
  }

  li img {
    width: 1.3rem;
    margin-right: 10px;
  }
}
