nav {
  width: 100%;
  max-width: 300px;
  height: 100%;
  border: 1px solid var(--task-color);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;

  h1 {
    font-family: "BodoniModa";
    font-size: 3rem;
  }

  ul {
    width: 100%;
  }

  li {
    border: 1px solid red;
    text-align: center;
    align-content: center;
    height: 4rem;
    padding: 0 50px;
  }

  li:last-child {
    margin-top: auto;
  }
}
