main {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  /* align-items: center;
  justify-content: center; */
  overflow: hidden;

  .product__container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
  }

  .product__container-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 30px;
  }

  .product__container-nav > ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
  }

  .product__container-nav > ul > li {
    border: 1px solid red;
    width: 100%;
    text-align: center;
  }

  .product__container-item {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: center;
  }
}
