main {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  overflow: hidden;

  .product__container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    transition: 0.5s ease;
  }

  .product__container-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .product__container-nav > ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    cursor: pointer;
  }

  .product__container-nav > ul > li {
    width: 100%;
    height: 3em;
    text-align: center;
    align-content: center;
  }

  .product__container-item {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: center;
  }
}
