main {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid red;

  .product__container-item {
    border: 1px solid red;
    display: flex;
  }

  /* .forum {
    background-color: transparent;
    color: var(--text-color);
    height: 100%;
    max-height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0 10px;
  }

  .forum p {
    cursor: pointer;
    height: 100%;
    flex: 1;
    overflow: hidden;
    border-radius: 2px;
    transition: all 0.5s;
    border: 1px solid skyblue;
    background-color: transparent;
    border: 1px solid var(--bg2-color);
    box-shadow: -5px -5px 10px 0px rgba(0, 119, 192, 0.5),
      5px 5px 10px 0px rgba(29, 36, 43, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .forum p span {
    min-width: 5em;
    transform: rotate(-90deg);
    text-align: center;
    transition: all 0.8s;
  }

  .forum p:hover {
    flex: 6;
  }

  .forum p:hover span {
    transform: rotate(0deg);
  }

  .forum p .forum__first-item {
    background: url("../icons/product/o-dan.png") no-repeat center center/cover;
    width: 100%;
    height: 100%;
  }

  .forum__first-item a {
    border: 1px solid red;
    position: absolute;
  } */
}
